rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Since Firebase Auth is fully disabled/bypassed in favor of local client-side state
    // to prevent any registration errors on mobile/sandbox, we allow public read & write access.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
